<!-- jumbotron -->
<div class="jumbotron text-center">
  <h1>My Bookstore</h1>
  <hr class="my-2">
  <p>Meet your next favorite book.</p><br>
      <!-- search -->

</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2 style="color: #777777;">转角遇见你 | Serendipity 一本好书</h2><br>
      <h4>各路大神，创见的高质量社区！让你我在追求成长的路上，不再孤独！</h4>
      <p>想成为早起者，这里有大神"创见"的『早起群』；想成为跑者，这里有职业跑者创见的「跑步群」，想成为写者，更有『写作群』等你来加入！成长路上，不用再孤独前行！</p>
      <br> <a href="/products"><button class="btn btn-info btn-lg">立即选书</button></a>
    </div>
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-growth.png" style="float: left;" width="300;" height="300;">
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>热门社群</h2>
  <h4>大神推荐</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-lotus-position.png" width="100;" height="100;">
      <h4>坐享群</h4>
      <p>开启元认知之旅……</p>
    </div>
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-compose%20-1-.png" width="100;" height="100;">
      <h4>写作群</h4>
      <p>大神指导，战友同行……</p>
    </div>
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-running.png" width="100;" height="100;">
      <h4>跑步群</h4>
      <p>成为自己心中的跑者……</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-book.png" width="100;" height="100;">
      <h4>天天用英语</h4>
      <p>大神给你方法，与战友一起把英语用起来……</p>
    </div>
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-happy.png" width="100;" height="100;">
      <h4>开心小事记录群</h4>
      <p>幸福就在身边，记录、感受生活的小确幸……</p>
    </div>
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-browser.png" width="100;" height="100;">
      <h4 style="color:#303030;">Rails新手练习群</h4>
      <p>有bug不用愁，大伙一起解……</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h1>社群分类</h1>
  <h3>你想要的，这里都有</h3><br>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="/products?category=技能提升"><img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-skill.jpg" alt="Paris" width="400" height="300"></a>
        <h3>技能提升</h3>
        <p>英语|写作|编程</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="products?category=健脑健身"><img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-meditation.jpg" alt="New York" width="400" height="300"></a>
        <h3>健脑健身</h3>
        <p>坐享|跑步|早起</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="/products?category=幸福生活"><img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-life.jpg" alt="San Francisco" width="400" height="300"></a>
        <h3>幸福生活</h3>
        <p>开心小事|家庭美食</p>
      </div>
    </div>
  </div><br>

  <h2>参群之后</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <!-- Quote 1 -->
      <div class="item active">
          <div class="text-center">
            <img class="img-circle" src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-24-boy.png" style="width: 100px; height: 100px;">
            <p>"以前坐享总是三天打鱼两天晒网，有了大神定期指导，伙伴们的经验分享<br>让我养成了坐享的习惯，开启了元认知，感受思考的思考，真是太神奇了！"<br><br><span style="font-style:normal;">——陈陈 北京</span></p>
          </div>
      </div>
      <div class="item">
        <div class="text-center">
          <img class="img-circle" src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-24-girl.png" style="width: 100px; height: 100px;">
          <p>"跑步群里，马拉松跑者与你一起每天跑起来，跑步也能乐无穷！"<br><br><span style="font-style:normal;">——真真 南京</span></p>
        </div>
      </div>
      <div class="item">
        <div class="text-center">
        <img class="img-circle" src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-24-girl%20-1-.png" style="width: 100px; height: 100px;">
        <p>"记录开心小事，感受生活的小确幸，你真的应该试试，会让你惊叹于生活的美好如此多！"<br><br><span style="font-style:normal;">——刘思 北京</span></p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>精选社群</h2>
    <h4>大神带你飞，战友伴你行！</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>坐享群</h1>
          <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-boy.png" width="100" height="100">
          <h3>创见者：李大神</h3>
        </div>
        <div class="panel-body">
          <p><strong>12</strong> 视频引导</p>
          <p><strong>52</strong> 文章分享</p>
          <p><strong>365</strong> 天天打卡</p>
          <p><strong>多人</strong> 互动交流</p>
          <p><strong>定期</strong> 答疑解惑</p>
        </div>
        <div class="panel-footer">
          <h3>￥599/年</h3>
          <a href="/products?category=健脑健身"><button class="btn btn-lg">立即入伙</button></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>跑步群</h1>
          <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-girl.png" width="100" height="100">
          <h3>创见者：神跑者</h3>
        </div>
        <div class="panel-body">
          <p><strong>12</strong> 视频引导</p>
          <p><strong>52</strong> 文章分享</p>
          <p><strong>365</strong> 天天打卡</p>
          <p><strong>百人</strong> 互动交流</p>
          <p><strong>定期</strong> 答疑解惑</p>
        </div>
        <div class="panel-footer">
          <h3>￥399/年</h3>
          <a href="/products?category=健脑健身"><button class="btn btn-lg">立即入伙</button></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>用英语</h1>
          <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-girl%20-1-.png" width="100" height="100">
          <h3>创见者：乐大姐</h3>
        </div>
        <div class="panel-body">
          <p><strong>12</strong> 本好书</p>
          <p><strong>52</strong> 篇好文</p>
          <p><strong>365</strong> 天朗读成精</p>
          <p><strong>多人</strong> 互动交流</p>
          <p><strong>定期</strong> 答疑解惑</p>
        </div>
        <div class="panel-footer">
          <h3>￥365/年</h3>
          <a href="/products?category=技能提升"><button class="btn btn-lg">立即入伙</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">联系我们</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>这里是社群商店，帮助找到正确的方法，得到更多的朋友.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> 中国 北京</p>
      <p><span class="glyphicon glyphicon-phone"></span> +86 18719224524</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="姓名" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="邮箱" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="想说的话" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">发送</button>
        </div>
      </div>
    </div>
  </div>
</div>




<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;
      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;
      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
