<!-- jumbotron -->
<div class="jumbotron text-center">
  <h1>My Bookstore</h1>
  <hr class="my-2">
  <p>Meet your next favorite book.</p><br>
      <!-- search -->

</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2 style="color: #777777;">转角遇见你 | Serendipity 一本好书</h2><br>
      <h4>各路大神，创见的高质量社区！让你我在追求成长的路上，不再孤独！</h4>
      <p>想成为早起者，这里有大神"创见"的『早起群』；想成为跑者，这里有职业跑者创见的「跑步群」，想成为写者，更有『写作群』等你来加入！成长路上，不用再孤独前行！</p>
      <br> <a href="/products"><button class="btn btn-info btn-lg">立即选书</button></a>
    </div>
    <div class="col-sm-4">
      <img src="http://7xjhux.com1.z0.glb.clouddn.com/2017-02-23-growth.png" style="float: left;" width="300;" height="300;">
    </div>
  </div>
</div>
